@import './var.scss';

.fc-detail {
    display: block;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid $bg-th-bar-border;
    box-sizing: border-box;

    &.fc-status-container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $cr-muted;
        flex-direction: column;
        font-size: 12rpx;

        .fc-status-action {
            color: $cr-link;
            text-decoration: underline;
            margin-top: 15rpx;
        }
    }
}