@import './var.scss';
@mixin fc-ic{
    position: relative;
    &:before,
    &:after,
    .fc-ic-arrow-1,
    .fc-ic-arrow-2 {
        content: '';
        box-sizing: border-box;
        position: absolute;
    }
}

@mixin ic-close($color:$cr-tab-head, $width:4rpx) {

    &.fc-ic-close:before,
    &.fc-ic-close:after {
        width: 100%;
        top: 50%;
        background-color: $color;
        margin-top: -($width/2);
        height: $width;
    }

    &.fc-ic-close:before {
        transform: rotate(45deg);
    }

    &.fc-ic-close:after {
        transform: rotate(135deg);
    }
}

@mixin ic-clear($color:$cr-tab-head, $width:4rpx) {

    &.fc-ic-clear:before {
        width: 100%;
        height: 100%;
        border: $width solid $color;
        border-radius: 50%;
    }

    &.fc-ic-clear:after {
        width: 100%;
        height: $width;
        background-color: $color;
        margin-top: -($width/2);
        top: 50%;
        transform: rotate(45deg);
    }
}

@mixin ic-expand-compress($color:$cr-tab-head, $width:4rpx) {

    &.fc-ic-compress:before,
    &.fc-ic-compress:after,
    &.fc-ic-compress .fc-ic-arrow-1,
    &.fc-ic-compress .fc-ic-arrow-2,
    &.fc-ic-expand:before,
    &.fc-ic-expand:after,
    &.fc-ic-expand .fc-ic-arrow-1,
    &.fc-ic-expand .fc-ic-arrow-2 {
        width: 40%;
        height: 40%;
        border: $width solid $color;
    }

    &.fc-ic-compress:before,
    &.fc-ic-compress:after,
    &.fc-ic-compress .fc-ic-arrow-1,
    &.fc-ic-compress .fc-ic-arrow-2 {
        transform: rotate(180deg);
    }

    &.fc-ic-compress:before,
    &.fc-ic-expand:before {
        top: 0;
        left: 0;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    &.fc-ic-compress:after,
    &.fc-ic-expand:after {
        right: 0;
        top: 0;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    &.fc-ic-compress .fc-ic-arrow-1,
    &.fc-ic-expand .fc-ic-arrow-1 {
        left: 0;
        bottom: 0;
        border-top-color: transparent;
        border-right-color: transparent;
    }

    &.fc-ic-compress .fc-ic-arrow-2,
    &.fc-ic-expand .fc-ic-arrow-2 {
        right: 0;
        bottom: 0;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}