@import './var.scss';

.fc-reader {
    height: 100%;
    position: relative;
    background-color: $bg-reader;
    display: none;

    &.fc-active {
        display: block;
    }
}


.fc-reader-detail-container {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: block;
    background-color: #fff;
    margin-top: 1px;

    &.has-bar {
        top: $ht-filter-bar;
        margin-top: 2px;
    }
}