// 整体缩放系数
$zoom:1;

// 背景
$bg-primary:#1B9AF7;
$bg-secondary:#0880d7;
$bg-secondary-active:#0662a6;
$bg-bar:#f3f3f3; // 条背景
$bg-active:$bg-primary; // 活动的项目
$bg-border:#ccc; // 边框
$bg-tab-head:$bg-bar;
$bg-filter-bar:$bg-bar;
$bg-th-bar:$bg-bar;
$bg-row-even:#f5f5f5;
$bg-row-odd:#fff;
$bg-reader:#fff;
$bg-reader-api:$bg-reader;
$bg-tab-border:$bg-border;
$bg-filter-bar-border:$bg-border;
$bg-th-bar-border:$bg-border;
$bg-tab-border-active:$bg-active;
$bg-renderer-row-active:$bg-active;
$bg-filter-active:#aaaaaa;


// 颜色
$cr-error:red;
$cr-success:green;
$cr-muted:#999;
$cr-link:#1a73ea;
$cr-bar:#5e5e5e; // 条文字颜色
$cr-tab-head:$cr-bar;
$cr-filter-bar:$cr-bar;
$cr-th-bar:$cr-bar;
$cr-active:#fff;
$cr-filter-active:$cr-active;
$cr-renderer-row:$cr-bar;
$cr-renderer-row-muted:$cr-muted;
$cr-renderer-row-active:#fff;

// 文字尺寸
$sz-tab-head:$zoom * 28rpx;
$sz-filter-bar:$zoom * 24rpx;
$sz-th-bar:$zoom * 26rpx;

// 高度
$ht-hand:$zoom * 60rpx;
$ht-headers-item:$zoom * 70rpx;
$ht-tab-bar:$zoom * 70rpx;
$ht-th-bar:$ht-tab-bar;
$ht-filter-bar:$ht-tab-bar - 10rpx;
$ht-renderer-api:$zoom * 80rpx;


$ft-main:Consolas, Menlo, Monaco, 'Courier New', monospace;
$ft-code:Consolas, Menlo, Monaco, 'Courier New', monospace;
$ft-name:system-ui, #{$ft-code};



// DataGrid组件
$bg-datagrid:#fff;
$bg-datagrid-head:$bg-bar;
$bg-datagrid-active:$bg-active;
$cr-datagrid-active:$cr-active;
$cr-datagrid:$cr-bar;
$bg-datagrid-border:$bg-border;
$ht-datagrid-th:$ht-tab-bar;
$sz-datagrid-th:$zoom * 26rpx;
$cr-datagrid-error:$cr-error;