@import '../../../style/var.scss';
@import '../../../style/icon.scss';
@import '../../../style/headers.scss';
@import '../../../style/detail.scss';

.fc-detail-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $ht-tab-bar - 20rpx;
    height: $ht-tab-bar - 20rpx;
    position: absolute;
    z-index: 5;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 10rpx;
        bottom: 10rpx;
        width: 1rpx;
        background-color: $bg-tab-border;
    }
}

.fc-detail-close {
    @include fc-ic;
    @include ic-close;
    width: ($ht-tab-bar - 20rpx) / 2.2;
    height: ($ht-tab-bar - 20rpx) / 2.2;
}

.fc-detail-title {
    color: #616161;
    font-weight: bold;
    font-size: 24rpx;
}

.detail-tab-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.detail-scroll {
    height: 100%;
    box-sizing: border-box;
    padding: 20rpx 0;
}