@import '../../style/var.scss';
@import '../../style/icon.scss';

.fc-hand {
    position: fixed;
    bottom: 100rpx;
    right: 100rpx;
    z-index: 500;
    border-radius: 50%;
    width: 100rpx;
    height: 100rpx;
    background-color: #000;
    color: #fff;
    font-size: 30rpx;
    text-align: center;
    line-height: 100rpx;

    &.is-hide {
        display: none;
    }
}

.fc-modal {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    &.is-show{
        display: block;
    }

    &.is-full {
        top: 0;
    }
}


.fc-tabs-container {
    background: $bg-tab-head;
    color: $cr-tab-head;
    border-top: 1px solid $bg-tab-border;
    border-bottom: 1px solid $bg-tab-border;
    color: $cr-tab-head;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.fc-tabs-scroll {
    width: 750rpx - $ht-tab-bar - $ht-tab-bar;
}

.fc-tabs-action {
    width: $ht-tab-bar;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 15rpx;
        bottom: 15rpx;
        width: 1rpx;
        background-color: $bg-tab-border;
    }
}

.fc-tabs-action-right {
    &::after {
        right: auto;
        left: 0;
    }
}

.fc-tabs-zoom,
.fc-tabs-close {
    @include fc-ic;
    width: $ht-tab-bar / 2;
    height: $ht-tab-bar / 2;
}

.fc-tabs-zoom {
    @include ic-expand-compress;
}

.fc-tabs-close {
    @include ic-close;
}

.fc-tabs-body {
    height: 100%;
    flex-shrink: 1;
}

.fc-tabs {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -1px;
}

.fc-tab {
    box-sizing: border-box;
    flex-shrink: 0;
    height: $ht-tab-bar;
    line-height: $ht-tab-bar;
    padding: 0 20rpx;
    text-align: center;
    border-bottom: 6rpx solid transparent;
    font-size: 28rpx;
    transition: border-color .5s;

    &.active {
        border-bottom-color: $bg-tab-border-active;
    }
}

.fc-tabs-panels {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform .5s;
    height: 100%;

    .fc-tabs-panel {
        flex-shrink: 0;
        flex: 1;
        box-sizing: border-box;
        padding: 20rpx 0;
        height: 100%;
        position: relative;
    }

    .tab-panel-reader {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}