@import '../../../style/reader.scss';
@import '../../../style/col-api.scss';
.fc-rd-api {
    .f-title {
        font-size: 28rpx;
    }

    .f-desc {
        font-size: 18rpx;
        color: #999;
    }
}