@import './var.scss';

.fc-reader {
    height: 100%;
    position: relative;
    background-color: $bg-reader;
}

.fc-reader-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $cr-renderer-row;

    &.fc-status-3 {
        color: $cr-error;
    }

    &.is-selected .fc-col {
        border-right-color: $cr-renderer-row-active;
    }

    &.fc-not-border .fc-col {
        border-right-color: transparent;
    }

    .fc-col {
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        padding: 6rpx 10rpx;
        border-right: 1px solid $bg-th-bar-border;
        line-height: 1.2;

        &.is-last-col {
            border-right: none;
        }

        &.fc-col-right {
            align-items: flex-end;
        }
    }

    &.fc-nowrap {

        .fc-text-primary,
        .fc-text-muted {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
    }
}

.fc-reader-th {
    box-sizing: border-box;
    height: $ht-th-bar;
    font-size: $sz-th-bar;
    border-bottom: 1px solid $bg-th-bar-border;
    background-color: $bg-filter-bar;
    color: $cr-th-bar;

    &.has-data {
        &.has-bar {
            .fc-col {
                &:after {
                    top: $ht-filter-bar;
                }
            }
        }

        .fc-col {
            padding-right: 0;
            border-right-color: transparent;

            &.is-last-col:after {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 10;
                width: 1px;
                margin-top: 2px;
                margin-right: -1px;
                background-color: $bg-th-bar-border;
                top: 0;
                bottom: 0;
                justify-self: flex-end;
                align-self: flex-end;
            }
        }
    }

    .fc-col {
        height: 100%;
        align-items: flex-start;
    }
}

.fc-row-even {
    background-color: $bg-row-even;
}

.fc-row-odd {
    background-color: $bg-row-odd;
}

.fc-row-even,
.fc-row-odd {
    display: block;
}

.fc-reader-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 2px;
    z-index: 5;

    &.fc-show-detail {
        right: 70%;
    }

    &.has-th {
        top: $ht-th-bar;
    }

    &.has-bar {
        top: $ht-filter-bar;
    }

    &.has-th.has-bar {
        top: $ht-th-bar + $ht-filter-bar;
    }
}

.fc-reader-detail-container {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: block;

    &.has-th {
        top: $ht-th-bar;
    }

    &.has-bar {
        top: $ht-filter-bar;
    }

    &.has-th.has-bar {
        top: $ht-th-bar + $ht-filter-bar;
    }
}